@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: black
}
body{
  background: #f2f2f2;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #272626;
  }
  
  .logo {
    text-decoration: none;
    margin-right: 20px;
  }
  
  .logo img {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Preserve aspect ratio */
  }
  
  .search-bar {
    flex-grow: 1;
    text-align: center;
  }
  
  .search-bar input {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #e8e8e8;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .search-bar input:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-bar button:hover {
    background-color: #555;
  }
  .notification {
  margin-left: 10px;
}

.notification-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.notification-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
}

.notification-icon::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-button {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  background-color: #ccc;
  border-radius: 4px;
  margin-right: 50px;
}

.login-button:hover {
  background-color: #999;
}

.container {
    text-align: center;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  
  .button-container button {
    margin: 0 5px;
    margin-right: 500px;
    margin-left: 500px;
    width: 200px;
    padding: 10px 20px;
    background-color: rgb(230, 226, 226);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container button:hover {
    background-color: #555;
  }

  .button-container-2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 400px;
  }

  .button-container-2 button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: rgb(230, 226, 226);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-container-2 button:hover {
    background-color: #555;
  }
  
  .bottom-navbar {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .menu-item {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
  }
  
  .menu-item.active {
    background-color: #f8ee97;
    border-radius: 4px;
  }
  
  .bottom-navbar nav {
    display: flex;
    justify-content: space-around;
  }
  
  .bottom-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .bottom-navbar li {
    display: inline-flex;
  }
  
  .bottom-navbar li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .bottom-navbar li a:hover {
    background-color: #ddd;
  }
  .slideshow-container {
    position: relative;
    text-align: center;
  }
  
  .slide {
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide img {
    max-width: 100%;
    height: auto;
  }

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slide {
    animation: slideAnimation 1s ease-in-out;
  }
  
  @keyframes slideAnimation {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  /* Slide button styles */
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  .notification-box {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff; /* Change background color to white */
    color: #000; /* Change text color to black */
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .notification-box.show {
    display: block;
  }

  #login-container, #register-container {
    width: 400px; /* Increase the width */
    height: 300px; /* Increase the height */
    margin: 0 auto; /* Set left and right margins to auto */
    margin-top: 200px; /* Add top margin as desired */
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }

  .button-1 {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .button-1:hover {
    background-color: #555;
  }

  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    margin: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop the image to fit within the container */
  }
  
  .content {
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
  }
  
  h3 {
    margin-top: 0;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .box-button {
    display: inline-block;
    background: white;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    color: IndianRed;
    border: 3px solid IndianRed;
    background-image: linear-gradient(to right, transparent 50%, IndianRed 50%);
    background-size: 200%;
  }

  .box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    margin: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  }

  .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop the image to fit within the container */
  }
  
  .content-2 {
    padding: 20px;
    text-align: center;
  }

  .box-button-2 {
    display: inline-block;
    background: white;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    color: IndianRed;
    border: 3px solid IndianRed;
    background-image: linear-gradient(to right, transparent 50%, IndianRed 50%);
    background-size: 200%;
  }

  .page-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -400px;
  }
